@page "/home"
@inject IController controller
@inject IModel model

<div class="display">
    <h2 class="text-background" style="padding: 30px 50px; width: auto; margin-left: 20%; margin-right: 20%; margin-top: 20%">
        Welcome employee @model.EmployeeId in your Mechanic Application
    </h2>
</div>