@page "/"
@inject IController controller
@inject IModel model
@inject NavigationManager NavigationManager


<div class="box">

    <div class="container left">
        <div class="text">

            <h2 class="text-background">Hello, please enter your Employee Id Number:</h2>

        </div>

        <input name="category" class="text-iput" @bind="@model.EmployeeId" />
        <RadzenButton Disabled="false" Text="Log In" class="btn1" Click="LogIn" />

    </div>

    <div class="container right">
        <img class="image" src="/20618.jpg" alt="Your Image">
    </div>


</div>


@code {

    private async void LogIn()
    {
        NavigationManager.NavigateTo("/home");
    }

    protected override async Task OnInitializedAsync()
    {
        model.EmployeeId = null;
    }
}